{% extends 'admin/admin_base.html.twig' %}

{% block title 'Product Options' %}
{% block admin_context_title 'Product Options' %}

{% block body %}
    {{ include('admin/_admin_header.html.twig') }}
    <table class="admin-table">
        <thead class="admin-table-head-index">
        <tr>
            <th>Name</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody class="admin-table-body-index">
        {% for product_option in product_options %}
            <tr>
                <td>{{ product_option.name }}</td>
                <td>{{ product_option.createdAt ? product_option.createdAt|date('d/m/Y') : '' }}</td>
                <td>{{ product_option.updatedAt ? product_option.updatedAt|date('d/m/Y') : '' }}</td>
                <td class="admin-table-actions">
                    <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_OPTION_EDIT'), {'id': product_option.id}) }}">Edit</a><!--
                    -->{{ include('admin/product/product_option/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
