{% extends 'admin/admin_base.html.twig' %}

{% block title 'Product Option' %}
{% block admin_context_title 'Product Option "' ~ product_option.name ~ '"'  %}

{% block body %}
    <section class="admin-content-container">
        <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_OPTION_INDEX')) }}" class="admin-back">back to list</a>
        <table class="admin-table show">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ product_option.name }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ product_option.createdAt ? product_option.createdAt|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Updated at</th>
                <td>{{ product_option.updatedAt ? product_option.updatedAt|date('Y-m-d H:i') : '' }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_OPTION_EDIT'), {'id': product_option.id}) }}" class="button-top edit">Edit</a>

    </section>
{% endblock %}
