{% extends 'admin/admin_base.html.twig' %}

{% block title %}ProductAttribute index{% endblock %}

{% block body %}
    <div class="container">
        <h1>ProductAttribute index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>StorageType</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product_attribute in product_attributes %}
                <tr>
                    <td>{{ product_attribute.id }}</td>
                    <td>{{ product_attribute.name }}</td>
                    <td>{{ product_attribute.type }}</td>
                    <td>{{ product_attribute.storageType }}</td>
                    <td>{{ product_attribute.createdAt ? product_attribute.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ product_attribute.updatedAt ? product_attribute.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_ATTRIBUTE_SHOW'), {'id': product_attribute.id}) }}">show</a>
                        <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_ATTRIBUTE_EDIT'), {'id': product_attribute.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_ATTRIBUTE_NEW')) }}">Create new</a>
    </div>
{% endblock %}
