{% extends 'admin/admin_base.html.twig' %}

{% block title 'Product Attributes' %}

{% block body %}
    {{ include('admin/_admin_header.html.twig') }}
    <table class="admin-table">
        <thead class="admin-table-head-index">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Storage type</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="admin-table-body-index">
        {% for product_attribute in product_attributes %}
            <tr>
                <td>{{ product_attribute.name }}</td>
                <td>{{ product_attribute.type }}</td>
                <td>{{ product_attribute.storageType }}</td>
                <td>{{ product_attribute.createdAt ? product_attribute.createdAt|date('d/m/Y') : '' }}</td>
                <td>{{ product_attribute.updatedAt ? product_attribute.updatedAt|date('d/m/Y') : '' }}</td>
                <td class="admin-table-actions">
                    <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_ATTRIBUTE_EDIT'), {'id': product_attribute.id}) }}">Edit</a><!--
                    -->{{ include('admin/product/product_attribute/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
