{# MoneyType #}
{% block money_row %}
    <div class="admin-form-group admin-money-field">
        <label for="{{ form.vars.id }}"
               class="admin-form-label {{ form.vars.required ? 'required' }}">
            {% if form.vars.label is not null %}
                {{ form.vars.label }}
            {% else %}
                {{ form.vars.name | u.snake.replace('_', ' ') | title }}
            {% endif %}
        </label>
        <input type="text"
               id="{{ form.vars.id }}"
               class="admin-input-money"
               name="{{ form.vars.full_name }}"
                {{ form.vars.required ? 'required="required"' }}
                {% if form.vars.attr is not empty and form.vars.attr.placeholder is defined %}
                    placeholder="{{ form.vars.attr.placeholder }}"
                {% endif %}
               value="{{ form.vars.value }}">
        <span class="admin-currency">{{ form.vars.money_pattern | replace({'{{ widget }}': ''}) }}</span>
    </div>
{% endblock %}

{# TextType #}
{% block text_row %}
    <div class="admin-form-group admin-text-field">
        <label for="{{ form.vars.id }}"
               class="admin-form-label {{ form.vars.required ? 'required' }}">
            {% if form.vars.label is not null %}
                {{ form.vars.label }}
            {% else %}
                {{ form.vars.name | u.snake.replace('_', ' ') | title }}
            {% endif %}
        </label>
        <input type="text"
               id="{{ form.vars.id }}"
               class="admin-input-text"
               name="{{ form.vars.full_name }}"
                {{ form.vars.required ? 'required="required"' }}
                {% if form.vars.attr is not empty and form.vars.attr.placeholder is defined %}
                    placeholder="{{ form.vars.attr.placeholder }}"
                {% endif %}
               value="{{ form.vars.value }}">
    </div>
{% endblock %}

{# TextareaType #}
{% block textarea_row %}
    <div class="admin-form-group admin-textarea-field">
        <label for="{{ form.vars.id }}" class="admin-form-label admin-label-top {{ form.vars.required ? 'required' }}">
            {% if form.vars.label is not null %}
                {{ form.vars.label }}
            {% else %}
                {{ form.vars.name | u.snake.replace('_', ' ') | title }}
            {% endif %}
        </label>
        <textarea id="{{ form.vars.id }}"
                  class="admin-input-textarea"
                  name="{{ form.vars.full_name }}"
                {{ form.vars.required ? 'required="required"' }}
                {% if form.vars.attr is not empty and form.vars.attr.placeholder is defined %}
                    placeholder="{{ form.vars.attr.placeholder }}"
                {% endif %}>{#
            #}{{ form.vars.value | capitalize }}
        </textarea>
    </div>
{% endblock %}

{# EntityType #}
{% block entity_row %}
    <div class="admin-form-group admin-select-field">
        <label for="{{ form.vars.id }}"
               class="admin-form-label admin-label-top {{ form.vars.required ? 'required' }}">
            {% if form.vars.label is not null %}
                {{ form.vars.label }}
            {% else %}
                {{ form.vars.name | u.snake.replace('_', ' ') | title }}
            {% endif %}
        </label>
        <select id="{{ form.vars.id }}"
                class="admin-input-select"
                name="{{ form.vars.full_name }}"
                {{ form.vars.required ? 'required="required"' }}
                {{ form.vars.multiple ? 'multiple="multiple"' }}
                {% if form.vars.attr is not empty and form.vars.attr.hidden is defined %}
                    {{ form.vars.attr.hidden ? 'hidden="hidden"' }}
                {% endif %}>
            {% for choice in form.vars.choices %}
                <option value="{{ choice.value }}"
                        class="admin-option"
                        {% if choice is selectedchoice(form.vars.value) %}
                            selected="selected"
                        {% endif %}>
                    {{ choice.data.name }}
                </option>
            {% endfor %}
        </select>
    </div>
{% endblock %}

{% block entity_label %}
    <label for="{{ form.vars.id }}"
           class="admin-form-label admin-label-top {{ form.vars.required ? 'required' }}">
        {% if form.vars.label is not null %}
            {{ form.vars.label }}
        {% else %}
            {{ form.vars.name | u.snake.replace('_', ' ') | title }}
        {% endif %}
    </label>
{% endblock %}

{% block entity_widget %}
    <select id="{{ form.vars.id }}"
            class="admin-select-entity"
            name="{{ form.vars.full_name }}"
            {{ form.vars.required ? 'required="required"' }}
            {{ form.vars.multiple ? 'multiple="multiple"' }}
            {% if form.vars.attr is not empty and form.vars.attr.hidden is defined %}
                {{ form.vars.attr.hidden ? 'hidden="hidden"' }}
            {% endif %}>
        {% for choice in form.vars.choices %}
            <option value="{{ choice.value }}"
                    class="admin-option"
                    {% if choice is selectedchoice(form.vars.value) %}
                        selected="selected"
                    {% endif %}>
                {{ choice.data.name }}
            </option>
        {% endfor %}
    </select>
{% endblock %}

{# CollectionType #}
{% block collection_row %}
    <div class="admin-form-group admin-collection-field">
        <label for="{{ form.vars.id }}"
               class="admin-form-label admin-label-top {{ form.vars.required ? 'required' }}">
            {% if form.vars.label is not null %}
                {{ form.vars.label }}
            {% else %}
                {{ form.vars.name | u.snake.replace('_', ' ') | title }}
            {% endif %}
        </label>
        <div class="admin-list">
            <ul class="admin-collection-list {{ form.vars.name }}"
                data-prototype="{{ form_row(form.vars.prototype)|e('html_attr') }}"
                data-widget-counter="{{ form.children|length }}">
                {% for fields in form.children %}
                    <li class="admin-list-collection-element">
                        {% for children in fields.children %}
                            {{ form_row(children) }}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
            <button type="button" class="add-item-link" data-collection-holder-class=".{{ form.vars.name }}">Add an item</button>
        </div>
    </div>
{% endblock %}

{# IntegerType #}
{% block integer_row %}
    <div class="admin-form-group admin-integer-field">
        <label for="{{ form.vars.id }}"
               class="admin-form-label {{ form.vars.required ? 'required' }}">
            {% if form.vars.label is not null %}
                {{ form.vars.label }}
            {% else %}
                {{ form.vars.name | u.snake.replace('_', ' ') | title }}
            {% endif %}
        </label>
        <input type="number"
               class="admin-input-integer"
               id="{{ form.vars.id }}"
               name="{{ form.vars.full_name }}"
                {{ form.vars.required ? 'required="required"' }}
                {% if form.vars.attr is not empty and form.vars.attr.placeholder is defined %}
                    placeholder="{{ form.vars.attr.placeholder }}"
                {% endif %}
               value="{{ form.vars.value }}">
    </div>
{% endblock %}

{# ProductAttributeValue #}
{% block _product_productAttribute_row %}
    <div class="admin-form-group admin-select-attribute-field">
        {{ form_label(form) }}
        <div class="admin-select-attribute">
            {{ form_widget(form) }}
            <button type="button"
                    class="add-attribute-link"
                    data-collection-holder-class=".productAttributeValues">
                Add attribute(s)
            </button>
        </div>
    </div>
{% endblock %}

{% block _product_product_attribute_values_row %}
    <div class="admin-form-group admin-form-attribute">
        <label class="admin-form-label admin-label-top {{ form.vars.required ? 'required' }}">
            {% if form.vars.label is not null %}
                {{ form.vars.label }}
            {% else %}
                {{ form.vars.name | u.snake.replace('_', ' ') | title }}
            {% endif %}
        </label>
        <ul class="productAttributeValues admin-attributes-list"
            data-prototype="{{ form_row(form.vars.prototype) | e('html_attr') }}"
            data-widget-counter="{{ form | length }}">
            {% for fields in form %}
                <li class="admin-list-attribute-element">
                    {% for children in fields.children %}
                        {{ form_row(children) }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}