{{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}

    {{ form_label(form.price) }}
    {{ form_widget(form.price) }}

    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}

    {{ form_label(form.stock) }}
    {{ form_widget(form.stock) }}

    {{ form_label(form.productOptions) }}
    {{ form_widget(form.productOptions) }}

    {{ form_label(form.productAttribute) }}
    {{ form_widget(form.productAttribute) }}
    <button type="button" class="btn btn-info mt-2 add_attribute_link" style="display: block" data-collection-holder-class=".productAttributeValues">Add attribute(s)</button>
    {{ form_label(form.productAttributeValues) }}

    <ul class="productAttributeValues" data-prototype="{{ form_widget(form.productAttributeValues.vars.prototype)|e('html_attr') }}" data-widget-counter="{{ form.productAttributeValues|length }}">
        {% for productAttributeValueField in form.productAttributeValues %}
            <li>
                {{ form_label(productAttributeValueField.textValue) }}
                {{ form_widget(productAttributeValueField.textValue) }}
                {{ form_widget(productAttributeValueField.attribute) }}
            </li>
        {% endfor %}
    </ul>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
