{% extends 'admin/admin_base.html.twig' %}

{% block title %}Product{% endblock %}
{% block admin_context_title 'Product "' ~ product.name ~ '"' %}

{% block body %}

    <section class="admin-content-container">
        <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_INDEX')) }}" class="admin-back">back to index</a>
        <table class="admin-table show">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ product.stock }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ product.createdAt ? product.createdAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated at</th>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_EDIT'), {'id': product.id}) }}" class="button-top edit">Edit</a>
    </section>
{% endblock %}
