<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title 'Admin - ' %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </head>
    <body class="admin-body">
        <header class="admin-header">
            <h1>Logo</h1>
            <nav class="admin-navbar-top">
                <a href="#">Your website</a>
            </nav>
        </header>
        <aside class="admin-sidebar">
            <h3>Products</h3>
            <nav class="admin-navbar-side">
                <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_INDEX')) }}" class="sidebar-products">Products</a>
                <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_ATTRIBUTE_INDEX')) }}" class="sidebar-product-attributes">Product Attributes</a>
                <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_OPTION_INDEX')) }}" class="sidebar-product-options">Product Options</a>
            </nav>
        </aside>
        <main class="admin-main">

                {% block body %}{% endblock %}

        </main>
    </body>
</html>
