<!DOCTYPE html>
<html lang="en" class="admin-html">
    <head>
        <meta charset="UTF-8">
        <title>Admin - {% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        {{ encore_entry_link_tags('admin') }}
        {{ encore_entry_script_tags('admin') }}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body class="admin-body">
        <header class="admin-header">
            <h1 class="admin-h1">Logo</h1>
            <nav class="admin-navbar-top">
                <a href="#">Your website</a>
            </nav>
        </header>
        <aside class="admin-sidebar">
            <h3 class="admin-h3">Products</h3>
            <nav class="admin-navbar-side">
                <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_INDEX')) }}" class="sidebar-products {% if header_title is defined and header_title == 'Products' %}active{% endif %}">Products</a>
                <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_ATTRIBUTE_INDEX')) }}" class="sidebar-product-attributes {% if header_title is defined and header_title == 'Product Attributes' %}active{% endif %}">Product Attributes</a>
                <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_OPTION_INDEX')) }}" class="sidebar-product-options {% if header_title is defined and header_title == 'Product Options' %}active{% endif %}">Product Options</a>
                <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_CATEGORY_INDEX')) }}" class="sidebar-product-category {% if header_title is defined and header_title == 'Product Categories' %}active{% endif %}">Product Categories</a>
            </nav>
        </aside>
        <main class="admin-main">

                {% block body %}{% endblock %}

        </main>
    </body>
</html>
